body {
    padding: 0;
    margin: 0;
}

.container > div {
    display: flex;
    height: 80px;
    align-items: center;
}

h1 {
    color: blue;
}

.borda {
    border-top: solid gray 1px;
    border-bottom: solid gray 1px;
    margin: 0;
}

p {
    text-decoration: none;
    margin: 0;
    padding: 0;
}

